<section class="home">
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-verde-btn1" type="button" disabled>Personas</button>
                    <a routerLink="/formacion-academica" routerLinkActive="active" ariaCurrentWhenActive="page"class="btn btn-verde-btn1" type="button">Formación Académica</a>
                    <button class="btn btn-verde-btn1" type="button" disabled>Becas</button>
                    <button class="btn btn-verde-btn1" type="button" disabled>Tranferencia de Conocimiento y Tecnologías</button>
                    <button class="btn btn-verde-btn1" type="button" disabled>Investigaciones e Innovaciones</button>
                    <button class="btn btn-verde-btn1" type="button" disabled>Adquisiciones</button>
                    <button class="btn btn-verde-btn1" type="button" disabled>Financiamiento</button>
                    <button class="btn btn-verde-btn1" type="button" disabled>Comunicaciones Científicas</button>
                </div>    
        </div>
    </div>
</div>



</section>