
<div id="sidebar" class="collapse bg-verde-bg collapse-horizontal show border-end" >
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100"style="width: 300px;">
        <div class="d-grid gap-3 mt-5 mx-1">
            <button class="btn btn-verde-btn1" type="button" disabled>Personas</button>
            <button class="btn btn-verde-btn1 dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="true">
                Formación	Académica
            </button>
            <button class="btn btn-verde-btn1" type="button" disabled>Becas</button>
            <button class="btn btn-verde-btn1" type="button" disabled>Tranferencia de CyT</button>
            <button class="btn btn-verde-btn1" type="button" disabled>Investigaciones e Innovaciones</button>
            <button class="btn btn-verde-btn1" type="button" disabled>Adquisiciones</button>
            <button class="btn btn-verde-btn1" type="button" disabled>Financiamiento</button>
            <button class="btn btn-verde-btn1" type="button" disabled>Comunicaciones Científicas</button>
            <div class="dropdown">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="tesis-posgrado" routerLinkActive="active" ariaCurrentWhenActive="page">Tesis de Posgrado</a></li>
                    <li><a class="dropdown-item" routerLink="practica-profesionalizante" routerLinkActive="active" ariaCurrentWhenActive="page">Práctica profesionalizante</a></li>
                    <li><a class="dropdown-item">Tesina Licenciatura</a></li>
                    <li><a class="dropdown-item" routerLink="ensayo-catedra" routerLinkActive="active" ariaCurrentWhenActive="page">Ensayo de cátedra</a></li>
                    <li><a class="dropdown-item">Proyecto Final Ingeniería</a></li>
                    <li><a class="dropdown-item">Practica Supervisada Ingeniería</a></li>
                </ul>
            </div>
    </div>    
</div>

